<?xml version="1.0" encoding="UTF-8"?><Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <!-- Puts the appropriate interop dll for the sytem architecture alongside the managed dlls - we'll always use that one -->
  <Fragment Id="SQLite_with_one_interop_dll">
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="SQLitemanaged" Guid="{5736ECEB-A22E-4EFC-B899-F47C17ADF077}">
        <File DiskId="1" Id="SQLitemanageddll" Name="SQLite.dll" LongName="System.Data.SQLite.DLL" Source="System.Data.SQLite.DLL" />
      </Component>

      <?if $(env.ProcessorArchitecture)=x64 ?>
      <Component Id="SQLiteinterop" Guid="{2A710DB6-4619-4B17-A1C6-EFC4282F451D}" Win64="yes">
        <File DiskId="1" Id="SQLite64interopdll" Name="SQLiteop.dll" LongName="SQLite.Interop.DLL" Source="x64\SQLite.Interop.DLL" />
      </Component>
      <?else ?>
      <Component Id="SQLiteinterop" Guid="{F3225F29-3175-4A38-AB8D-16FE6EAAB60E}">
        <File DiskId="1" Id="SQLite32interopdll" Name="SQLiteop.dll" LongName="SQLite.Interop.DLL" Source="x86\SQLite.Interop.DLL" />
      </Component>
      <?endif ?>
    </DirectoryRef>

    <!-- These get installed as part of the main product -->
    <FeatureRef Id="Product">
      <ComponentRef Id="SQLitemanaged" />
      <ComponentRef Id="SQLiteinterop" />
    </FeatureRef>
  </Fragment>

  <!-- Puts the interop dlls in subfolders - the managed dll will choose which one to load -->
  <Fragment Id="SQLite_with_both_interop_dlls">
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="SQLitemanaged2" Guid="{8E9AB709-32C1-468E-AF87-944E7C86F07F}">
        <File DiskId="1" Id="SQLitemanageddll" Name="SQLite.dll" LongName="System.Data.SQLite.DLL" Source="System.Data.SQLite.DLL" />
      </Component>

      <Directory Id="SQLiteDir64" Name="x64">
        <Component Id="SQLiteinterop64" Guid="{4C9ACBB0-AAE8-47DF-BD53-C9A414EA7119}" Win64="yes">
          <File DiskId="1" Id="SQLite64interopdll" Name="SQLiteop.dll" LongName="SQLite.Interop.DLL" Source="x64\SQLite.Interop.DLL" />
        </Component>
      </Directory>

      <Directory Id="SQLiteDir32" Name="x86">
        <Component Id="SQLiteinterop32" Guid="{90253B2B-36B4-4C36-93C2-2655A21D0A91}">
          <File DiskId="1" Id="SQLite32interopdll" Name="SQLiteop.dll" LongName="SQLite.Interop.DLL" Source="x86\SQLite.Interop.DLL" />
        </Component>
      </Directory>
    </DirectoryRef>

    <!-- These get installed as part of the main product -->
    <FeatureRef Id="Product">
      <ComponentRef Id="SQLitemanaged2" />
      <ComponentRef Id="SQLiteinterop64" />
      <ComponentRef Id="SQLiteinterop32" />
    </FeatureRef>
  </Fragment>
</Wix>